aiofiles==22.1.0
asyncpg==0.27.0
boto3==1.24.89
clip @ git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
easyocr==1.6.2
faiss-cpu==1.7.2
numpy==1.23.3
openai==0.25.0
pdf2image==1.16.0
pinecone-client==2.0.13
pydash==5.1.1
pyjwt==2.6.0
python-dotenv==0.21.0
redis==4.3.4
requests==2.28.1
rq==1.11.1
sanic==22.9.1
Sanic_Cors==2.2.0
sentence-transformers==2.2.2
sqlalchemy==1.4.43
# SQLAlchemy==2.0.0b1 # https://github.com/sqlalchemy/sqlalchemy/issues/8631
torch==1.12.1